<div class="navigation-container">
    <h2 class="name">Owen Murphy</h2>
    <div class="nav-links">
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Experience</li>
        </ul>
    </div>
    <div class="social-links">
        <ul>
            <li>contact</li>
            <li>IG</li>
            <li>LinkedIn</li>
            <li>GitHub</li>
        </ul>
    </div>
</div>

<!-- <div class="first-app">
    <div class="header-container">
        <h1 class="header">My first app</h1>
    </div>
    <p class="same">is this blue?</p>
    <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i>
</div>-->