$social-links-margin: 1rem;
$link-hover-color: lightblue;

.navigation-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    position: relative;
}

.name {
}

.nav-links ul {
    display: flex;
    text-transform: uppercase;

    li {
        cursor: pointer;
        margin: 0 $social-links-margin 0 $social-links-margin;

        &:hover {
            background-color: $link-hover-color;

        }
    }
}

.social-links ul {
    display: flex;

    li {
        cursor: pointer;
        margin: 0 $social-links-margin 0 $social-links-margin;

        &:hover {
            background-color: $link-hover-color

        }
    }
}

