$social-links-margin: .5rem;
$nav-links-margin: 1rem;
$link-hover-color: lightblue;
$nav-container-height: 5rem;

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: relative;
    height: $nav-container-height;
}

.name {
    font-size: 3rem; 
}

.nav-links ul {
    display: flex;
    text-transform: uppercase;

    li {
        cursor: pointer;
        margin: 0 $nav-links-margin 0 $nav-links-margin;

        &:hover {
            background-color: $link-hover-color;

        }
    }
}

.social-links ul {
    display: flex;
    margin-right: 2rem;

    li {
        cursor: pointer;
        margin: 0 $social-links-margin 0 $social-links-margin;

        &:hover {
            background-color: $link-hover-color

        }
    }

    .contact {
        margin-right: 1rem;
        text-transform: uppercase;
    }
}

